.car-block {
  border-bottom: 2px #000 dashed;
}

.controls-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}

.car-name {
  font-weight: 700;
  color: rgb(183 4 4);
}

.startStop-btns {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  position: relative;
}

.start-btn {
  background-color: transparent;
  border: 2px solid red;
  color: #000;
  font-weight: 700;
}
.stop-btn {
  background-color: transparent;
  border: 2px solid rgb(81, 2, 190);
  color: #000;
  font-weight: 700;
}

.car-icon {
  width: 100px;
  height: 100px;
  position: relative;
}
.car-icon svg {
  position: absolute;
  bottom: -35px;
  /* animation: moveRight 5s linear forwards; */
}

.finish-flag {
  display: block;
  align-self: flex-end;
  position: absolute;
  right: 100px;
}

.move {
  animation-name: moveRight;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes moveRight {
  0% {
    left: 0;
  }
  100% {
    left: calc(100% - 100px);
  }
}
