.button {
  padding: 7px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

.button:last-child {
  margin-left: 10px;
}

.button:hover {
  background-color: #45a049;
}

.button:active {
  background-color: #3e8e41;
  border-color: #041804;
}
