.block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.block_race {
  gap: 12px;
}

.block_race > button:last-child {
  margin-left: 0;
}
