.winners-table {
  border-collapse: collapse;
  width: 70%;
}

.winners-table th,
.winners-table td {
  border: 1px solid #4caf50;
  padding: 8px;
}

.winners-table th {
  background-color: #4caf50;
  color: #fff;
}
